@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #000000;
	color: #ffffff;
	width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
	font-size: 15px;
	line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}
a {
	text-decoration: none;
  color: #FFB100;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.brtb {
  display: none;
}
.brsp {
  display: none;
}
.displaypc {
  display: block;
}
.displaytb {
  display: none;
}
.displaysp {
  display: none;
}
.nondisplaysp {
  display: inline-block;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
}

/* filter用 */
#filter{
  position: absolute;
  left: 0;
  top: 9px;
  background-image: url('../images/pattern-05.png');
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 100;
  width: 100%;
  height: calc(100% - 9px);
  pointer-events: none;
  /* mix-blend-mode: multiply; */
}

/* .gradation-linewrap */
.gradation-linewrap {
  overflow: hidden;
  position: relative;
}
.gradation-linewrap:before {
  animation: gradation-linewrap 2s cubic-bezier(0.25, 0.1, 0.25, 1.0) forwards;
  background: #000;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@keyframes gradation-linewrap {
  100% {
    transform: translateX(100%);
  }
}
.gradation-line {
  background: linear-gradient(90deg, #FFDE53, #FF8900);
}

/* index */
#index {
  overflow-y: hidden;
}
#index header {
  position: relative;
  height: 9px;
  display: none;
}
#index header .gradation-line {
  height: 9px;
}
#index #topvideowrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#index #topvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}
#index #btn_topskip {
  position: absolute;
  top: calc(100vh - 100px);
  left: calc(50% - 40px);
  color: #BA6C00;
  font-size: 36px;
}

#index #topheader {
  position: relative;
  height: 165px;
  display: none;
}
#index #topheader h1 {
  position: absolute;
  top: 42px;
  left: 56px;
  display: none;
}
#index #topheader h1 img {
  width: 336px;
}
#index #topheader ul {
  letter-spacing: -.4em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 26px;
  display: none;
}
#index #topheader ul li {
  display: inline-block;
  letter-spacing: normal;
  width: 19px;
  margin: 0 17px;
}
#index #topheader ul li.newlink:before {
  content: 'NEW';
  color: #FFC238;
  margin-left: -5px;
}
#index #topheader ul li.futurelink a {
  pointer-events: none;
}
#index #topheader ul li a img {
  width: 25px;
}
#index #topheader ul li.futurelink a img {
  opacity: 0.3;
}
#index #mainwrapper {
  height: calc(100vh - (9px + 165px + 89px));
}
#index #mainwrapper #main {
  position: relative;
  height: 100%;
}
#index #mainwrapper #main #mainvideowrapper {
  position: relative;
  width: 100vw;
  height: calc(100% - (165px + 9px - 89px));
  overflow: hidden;
  display: none;
}
#index #mainwrapper #main #mainvideowrapper #mainvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
}
#index #mainwrapper #main a#mainlink {
  position: absolute;
  top: calc(50% + 128px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 43px;
  display: none;
}
#index #mainwrapper #main a#mainlink img {
  width: 43px;
}
#index #mainwrapper #main #mainlogo {
  position: absolute;
  bottom: 41px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
#index #mainwrapper #main #mainlogo img {
  width: 200px;
}
#index #topleft {
  display: none;
  position: absolute;
  top: 50%;
  left: 85px;
  width: 219px;
  height: 90px;
}
#index #topleft.animation {
  transform: translateY(calc(-50% + 30px));
}
#index #topleft.active {
  transform: translateY(-50%);
}
#index #topright {
  display: none;
  position: absolute;
  top: 50%;
  right: 85px;
  width: 240px;
  height: 183px;
}
#index #topright.animation {
  transform: translateY(calc(-50% + 30px));
}
#index #topright.active {
  transform: translateY(-50%);
}
#index #topright a p {
  font-size: 24px;
  position: relative;
  top: calc(50% - 22px);
}
#index #topright a p span {
  font-size: 14px;
}
#index #topright a #toprightbg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/samplenumber.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
#index footer {
  display: none;
  position: relative;
  height: 89px;
}
#index footer #footerleft {
  float: left;
  position: relative;
  z-index: 1;
  display: none;
}
#index footer #footerleft img {
  width: 236px;
}
#index footer ul#footerright {
  float: right;
  margin-top: 33px;
  margin-right: 27px;
  position: relative;
  z-index: 1;
  display: none;
}
#index footer ul#footerright li {
  display: inline-block;
  width: 24px;
  margin: 0 15px;
}
#index footer ul#footerright li a i {
  font-size: 24px;
  color: #000000;
}
#index footer .gradation-line {
  height: 89px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* page */
header {
  display: none;
}
#pageheaderline {
  position: relative;
  height: 9px;
  display: none;
}
#pageheaderline .gradation-line {
  height: 9px;
}
#pageheader {
  position: relative;
  height: 165px;
  display: none;
}
#pageheader h1 {
  position: absolute;
  top: 42px;
  left: 56px;
}
#pageheader h1 img {
  width: 336px;
}
#pageheader ul {
  letter-spacing: -.4em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 26px;
}
#pageheader ul li {
  display: inline-block;
  letter-spacing: normal;
  width: 19px;
  margin: 0 17px;
}
#pageheader ul li.newlink:before {
  content: 'NEW';
  color: #FFC238;
  margin-left: -5px;
}
#pageheader ul li.futurelink a {
  pointer-events: none;
}
#pageheader ul li a img {
  width: 25px;
}
#pageheader ul li.futurelink a img {
  opacity: 0.3;
}
#pageleftnumber {
  position: absolute;
  top: 50%;
}
#pageleftnumber img {
  display: none;
  position: relative;
  height: 464px;
}
#pageleftnumber img:nth-child(1) {
  left: 0;
  width: 48px;
}
#pageleftnumber img:nth-child(1).animation {
  transform: translateY(calc(-50% - 30px));
}
#pageleftnumber img:nth-child(1).active {
  transform: translateY(-50%);
}
#pageleftnumber img:nth-child(2) {
  left: 60px;
  width: 16px;
  transform: translateY(-50%);
}
#pageleftnumber img:nth-child(3) {
  left: 104px;
  width: 350px;
}
#pageleftnumber img:nth-child(3).animation {
  transform: translateY(calc(-50% + 30px));
}
#pageleftnumber img:nth-child(3).active {
  transform: translateY(-50%);
}
#slidemenu {
  position: absolute;
  top: calc(50% - 100px);
  right: -40px;
  width: 40px;
  height: 200px;
  background: linear-gradient(180deg, #FFDE53, #FF8900);
  transition: 1s;
}
#slidemenu ul li {
  margin: 5px 0;
  height: 40px;
}
#slidemenu ul li:first-child {
  margin-top: 20px;
}
#slidemenu ul li a {
  color: #000000;
  display: block;
}
#slidemenu ul li a i {
  font-size: 26px;
}
#pagescroll {
  display: none;
  position: absolute;
  top: calc(100vh - 180px);
  right: 20px;
  width: 43px;
  height: 100px;
}
#pagescroll img {
  width: 43px;
}
#pageinnerscroll {
  height: calc(100vh - 174px);
  position: absolute;
  overflow-y: scroll;
  width: 100%;
}
#pageinnerscroll #pageright {
  position: absolute;
  top: calc(100vh - 454px);
  right: 85px;
  width: 276px;
  height: 209px;
}
#pageinnerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#pageinnerscroll #pageright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#pageinnerscroll #pageright a p.active {
  transform: translateY(-50%);
}
#pageinnerscroll #pageright a p span {
  font-size: 14px;
}
#pageinnerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/samplenumber.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
  display: none;
}
#pageinnerscroll #pageright a #pagerightbg.animation {
  transform: translateY(calc(30px));
}
#pageinnerscroll #pageright a #pagerightbg.active {
  transform: translateY(0);
}

/* page00 */
#page00 {
  overflow-y: hidden;
}
#pageinnerscroll-p01,
#pageinnerscroll-p02,
#pageinnerscroll-p03,
#pageinnerscroll-p04,
#pageinnerscroll-p05 {
  display: none;
}
