@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #000000;
	color: #ffffff;
	width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
	font-size: 15px;
	line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
  color: #FFB100;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: none;
}
.nonbrsp {
  display: inline-block;
}
.displaysp {
  display: none !important;
}
.nondisplaysp {
  display: block;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.showvideo {
  display: block !important;
  animation-name: fade-in;
  animation-duration: 1s;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  overflow: hidden;
}

/* filter用 */
#filter{
  position: fixed;
  left: -10rem;
  top: -10rem;
  background-image: url('../images/noise.png');
  background-repeat: repeat;
  z-index: 100;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  -moz-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
@-webkit-keyframes noise {
  0% {
      -webkit-transform: translate3d(0, 9rem, 0);
      transform: translate3d(0, 9rem, 0)
  }
  10% {
      -webkit-transform: translate3d(-1rem, -4rem, 0);
      transform: translate3d(-1rem, -4rem, 0)
  }
  20% {
      -webkit-transform: translate3d(-8rem, 2rem, 0);
      transform: translate3d(-8rem, 2rem, 0)
  }
  30% {
      -webkit-transform: translate3d(9rem, -9rem, 0);
      transform: translate3d(9rem, -9rem, 0)
  }
  40% {
      -webkit-transform: translate3d(-2rem, 7rem, 0);
      transform: translate3d(-2rem, 7rem, 0)
  }
  50% {
      -webkit-transform: translate3d(-9rem, -4rem, 0);
      transform: translate3d(-9rem, -4rem, 0)
  }
  60% {
      -webkit-transform: translate3d(2rem, 6rem, 0);
      transform: translate3d(2rem, 6rem, 0)
  }
  70% {
      -webkit-transform: translate3d(7rem, -8rem, 0);
      transform: translate3d(7rem, -8rem, 0)
  }
  80% {
      -webkit-transform: translate3d(-9rem, 1rem, 0);
      transform: translate3d(-9rem, 1rem, 0)
  }
  90% {
      -webkit-transform: translate3d(6rem, -5rem, 0);
      transform: translate3d(6rem, -5rem, 0)
  }
  to {
      -webkit-transform: translate3d(-7rem, 0, 0);
      transform: translate3d(-7rem, 0, 0)
  }
}
@-moz-keyframes noise {
  0% {
      -moz-transform: translate3d(0, 9rem, 0);
      transform: translate3d(0, 9rem, 0)
  }
  10% {
      -moz-transform: translate3d(-1rem, -4rem, 0);
      transform: translate3d(-1rem, -4rem, 0)
  }
  20% {
      -moz-transform: translate3d(-8rem, 2rem, 0);
      transform: translate3d(-8rem, 2rem, 0)
  }
  30% {
      -moz-transform: translate3d(9rem, -9rem, 0);
      transform: translate3d(9rem, -9rem, 0)
  }
  40% {
      -moz-transform: translate3d(-2rem, 7rem, 0);
      transform: translate3d(-2rem, 7rem, 0)
  }
  50% {
      -moz-transform: translate3d(-9rem, -4rem, 0);
      transform: translate3d(-9rem, -4rem, 0)
  }
  60% {
      -moz-transform: translate3d(2rem, 6rem, 0);
      transform: translate3d(2rem, 6rem, 0)
  }
  70% {
      -moz-transform: translate3d(7rem, -8rem, 0);
      transform: translate3d(7rem, -8rem, 0)
  }
  80% {
      -moz-transform: translate3d(-9rem, 1rem, 0);
      transform: translate3d(-9rem, 1rem, 0)
  }
  90% {
      -moz-transform: translate3d(6rem, -5rem, 0);
      transform: translate3d(6rem, -5rem, 0)
  }
  to {
      -moz-transform: translate3d(-7rem, 0, 0);
      transform: translate3d(-7rem, 0, 0)
  }
}
@keyframes noise {
  0% {
      -webkit-transform: translate3d(0, 9rem, 0);
      -moz-transform: translate3d(0, 9rem, 0);
      transform: translate3d(0, 9rem, 0)
  }
  10% {
      -webkit-transform: translate3d(-1rem, -4rem, 0);
      -moz-transform: translate3d(-1rem, -4rem, 0);
      transform: translate3d(-1rem, -4rem, 0)
  }
  20% {
      -webkit-transform: translate3d(-8rem, 2rem, 0);
      -moz-transform: translate3d(-8rem, 2rem, 0);
      transform: translate3d(-8rem, 2rem, 0)
  }
  30% {
      -webkit-transform: translate3d(9rem, -9rem, 0);
      -moz-transform: translate3d(9rem, -9rem, 0);
      transform: translate3d(9rem, -9rem, 0)
  }
  40% {
      -webkit-transform: translate3d(-2rem, 7rem, 0);
      -moz-transform: translate3d(-2rem, 7rem, 0);
      transform: translate3d(-2rem, 7rem, 0)
  }
  50% {
      -webkit-transform: translate3d(-9rem, -4rem, 0);
      -moz-transform: translate3d(-9rem, -4rem, 0);
      transform: translate3d(-9rem, -4rem, 0)
  }
  60% {
      -webkit-transform: translate3d(2rem, 6rem, 0);
      -moz-transform: translate3d(2rem, 6rem, 0);
      transform: translate3d(2rem, 6rem, 0)
  }
  70% {
      -webkit-transform: translate3d(7rem, -8rem, 0);
      -moz-transform: translate3d(7rem, -8rem, 0);
      transform: translate3d(7rem, -8rem, 0)
  }
  80% {
      -webkit-transform: translate3d(-9rem, 1rem, 0);
      -moz-transform: translate3d(-9rem, 1rem, 0);
      transform: translate3d(-9rem, 1rem, 0)
  }
  90% {
      -webkit-transform: translate3d(6rem, -5rem, 0);
      -moz-transform: translate3d(6rem, -5rem, 0);
      transform: translate3d(6rem, -5rem, 0)
  }
  to {
      -webkit-transform: translate3d(-7rem, 0, 0);
      -moz-transform: translate3d(-7rem, 0, 0);
      transform: translate3d(-7rem, 0, 0)
  }
}

/* .gradation-linewrap */
.gradation-linewrap {
  overflow: hidden;
  position: relative;
}
.gradation-linewrap:before {
  animation: gradation-linewrap 2s cubic-bezier(0.25, 0.1, 0.25, 1.0) forwards;
  background: #000000;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@keyframes gradation-linewrap {
  100% {
    transform: translateX(100%);
  }
}
.gradation-line {
  background: linear-gradient(90deg, #FFCE00 20%, #FF7600 60%);
}

/* モーダル */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #FFCE00 20%, #FF7600 60%);
  z-index: 100;
}
.modal-bg{
  position: absolute;
  height: 100vh;
  width: 100%;
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll; /* はみ出た部分はスクロールさせる */
  height: 100%;/* これが無いと「overflow:scroll」が利かない */
  width: 100%;/* これが無いと「overflow:scroll」が利かない */
  background: transparent;
}
.modal-content:before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.modal-content .modal-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-content .modal-inner iframe {
  width: 863px !important;
  height: 469px !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.modal-content .modal-inner a.js-modal-close {
  position: absolute;
  right: 46px;
  top: 32px;
}
.modal-content .modal-inner a.js-modal-close img {
  width: 48px;
}

/* menu */
#g-nav.panelactive {
  position:fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  min-width: 1440px;
  height: 100vh;
}
.circle-bg {
  position: fixed;
  z-index: 10;
  width: 100px;
  height: 100vh;
  background: linear-gradient(90deg, #FFCE00 20%, #FF7600 45%);
  transform: scaleX(0);
  right: -50px;
  top: calc(50% - 50vh);
  transition: all 1s;
}
.circle-bg.circleactive {
  transform: scale(50);
}
/*ナビゲーション*/
#g-nav {
  position: absolute;
}
#g-nav #navlist {
  opacity: 0;
  pointer-events: none;
  width: 300px;
  margin-left: 317px;
  margin-top: 117px;
  text-align: right;
}
#g-nav.panelactive #navlist {
  opacity: 1;
  pointer-events: all;
}
#g-nav.panelactive #navlist li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-bottom: 46px;
}
@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#g-nav #navlist li a {
  color: #000000;
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.03em;
}
#g-nav #navlist li a span {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.05em;
}
#topopenbtn,
#openbtn {
  position:fixed;
  top: 44px;
  right: 46px;
  z-index: 9999;
  cursor: pointer;
  width: 48px;
  height: 40px;
  background-image: url('../images/menu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
#topopenbtn.active,
#openbtn.active {
  background-image: url('../images/menu_close.svg');
}
#navleftnumber {
  position: absolute;
  top: calc(50% - (89px + 105px) / 2);
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}
#navleftnumber.panelactive {
  opacity: 1;
}
#navleftnumber img {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  height: 480px;
  display: none;
}
#navleftnumber img:first-child {
  left: 0;
  width: 52px;
}
#navleftnumber img:nth-child(2) {
  left: 10px;
  width: 16px;
  /* display: inline-block; */
}
#navlogowrapper {
  position: absolute;
  bottom: 89px;
  width: 100%;
  height: 105px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
}
#navlogo {
  opacity: 0;
}
#navlogo.panelactive {
  opacity: 1;
}
#navlogo img {
  /* animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0; */
  margin-top: 36px;
  /* display: none; */
}
#navlogo img:first-child {
  height: 33px;
  margin-right: 45px;
}
#navlogo img:nth-child(2) {
  height: 16px;
  margin-bottom: 7px;
  margin-left: 45px;
}
#navleft {
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
#navleft.panelactive {
  opacity: 1;
}
#navleft a {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
}
#navleft img {
  margin-bottom: 20px;
  margin-left: 45px;
  width: 236px;
}
#navright {
  margin-bottom: 27px;
  margin-right: 27px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}
#navright.panelactive {
  opacity: 1;
}
#navright li {
  display: inline-block;
  width: 24px;
  margin: 0 15px;
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
}
#navright li a i {
  font-size: 24px;
  color: #000000;
}

/* #norotate */
#norotate {
  position:fixed;
  z-index: 999999;
  top: 0;
  width: 120%;
  height: 100%;
  display: none;
  background: linear-gradient(90deg, #FFCE00 -20%, #FF7600 90%);
}
#norotate img {
  width: 80px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* .button1 */
.button1 {
  position: relative;
  /* display: inline-block; */
  /* border: 1px solid transparent; */
  /* color: transparent; */
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 1s;
}
.button1::before,
.button1::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
.button1::before {
  top: -1px;
  left: -1px;
}
.button1::after {
  bottom: -1px;
  right: -1px;
}
.button1.boxactive {
  color: #fff;
}
.button1.boxactive::before,
.button1.boxactive::after {
  width: 100%;
  height: 100%;
}
.button1.boxactive::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1.boxactive::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height .3s, width .3s .3s;
}

/* フェーダー */
.fade_image {
  letter-spacing: -.4em;
}
.fade_image_effect {
  display: inline-block;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}
.fade_image_effect:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translate3d(0%,0,0);
}
.fade_image_effect.fadeactive:after {
  animation: swipeRight 1.1s cubic-bezier(0.6,0,0.4,1);
  animation-fill-mode: forwards;
}
.fade_image_effect img {
  width: 100%;
}
@keyframes swipeRight {
  0% {
    transform: translate(0);
  }
  50%, 60% {
    transform: translate3d(100%,0,0);
  }
  100% {
    transform: translate3d(100%,0,0);
  }
}

/* index */
#index {
  overflow-y: hidden;
  min-width: 1440px;
}
#index header {
  position: relative;
  height: 9px;
  display: none;
}
#index header .gradation-line {
  height: 9px;
}
#index #topvideowrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#index #topvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}
#index #btn_topskip {
  position: absolute;
  top: calc(100vh - 100px);
  left: calc(50% - 35px);
  color: #BA6C00;
  font-size: 36px;
  width: 70px;
}

#index #topheader {
  position: relative;
  height: 165px;
  display: none;
}
#index #topheader h1 {
  position: absolute;
  top: 42px;
  left: 56px;
  display: none;
}
#index #topheader h1 img {
  width: 260px;
}
#index #topheader ul {
  letter-spacing: -.4em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 26px;
  display: none;
}
#index #topheader ul li {
  display: inline-block;
  letter-spacing: normal;
  width: 19px;
  margin: 0 17px;
}
#index #topheader ul li.newlink:before {
  content: '';
  display: inline-block;
  background-image: url('../images/new_00.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 25px;
  height: 7px;
  padding-bottom: 3px;
  margin-left: -2px;
}
#index #topheader ul li a {
  position: relative;
  padding-bottom: 3px;
}
#index #topheader ul li.futurelink a {
  pointer-events: none;
}
#index #topheader ul li a::after {
  position: absolute;
  bottom: -8px;
  left: -20%;
  content: '';
  width: 140%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
#index #topheader ul li:first-child a::after {
  background: #FFDE53;
}
#index #topheader ul li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
#index #topheader ul li a img {
  height: 13px;
}
#index #topheader ul li.futurelink a img {
  opacity: 0.3;
}
#index #mainwrapper {
  height: calc(100vh - (9px + 165px + 89px));
}
#index #mainwrapper #main {
  position: relative;
  height: 100%;
}
#index #mainwrapper #main #mainvideowrapper {
  position: relative;
  width: 100vw;
  height: calc(100% - (165px + 9px - 89px));
  overflow: hidden;
  display: none;
  min-width: 1440px;
}
#index #mainwrapper #main #mainvideowrapper #mainvideo01,
#index #mainwrapper #main #mainvideowrapper #mainvideo02 {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 120%;
  height: 140%;
}
#index #mainwrapper #main #mainvideowrapper #mainvideo01 {
  z-index: 1;
}
#index #mainwrapper #main a#mainlink {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 43px;
  display: none;
}
#index #mainwrapper #main a#mainlink img {
  width: 43px;
}
#index #mainwrapper #main #mainlogo {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
#index #mainwrapper #main #mainlogo img:first-child {
  height: 33px;
  margin-right: 45px;
}
#index #mainwrapper #main #mainlogo img:nth-child(2) {
  height: 16px;
  margin-bottom: 7px;
  margin-left: 45px;
}
#index #topleft {
  display: none;
  position: absolute;
  top: 50%;
  left: 105px;
  width: 219px;
  height: 90px;
}
#index #topleft.animation {
  transform: translateY(calc(-50% + 30px));
}
#index #topleft.active {
  transform: translateY(-50%);
}
#index #topright {
  display: none;
  position: absolute;
  top: 50%;
  right: 105px;
  width: 240px;
  height: 183px;
}
#index #topright.animation {
  transform: translateY(calc(-50% + 30px));
}
#index #topright.active {
  transform: translateY(-50%);
}
#index #topright a {
  display: block;
  height: 100%;
}
#index #topright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#index #topright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#index #topright a p.active {
  transform: translateY(-50%);
}
#index #topright a p img {
  width: 160px;
}
#index #topright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#index #topright a #toprightbg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/01.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#index footer {
  display: none;
  position: relative;
  height: 89px;
}
#index footer #footerleft {
  float: left;
  position: relative;
  z-index: 1;
  display: none;
}
#index footer #footerleft img {
  margin-top: 17px;
  margin-left: 45px;
  width: 236px;
}
#index footer ul#footerright {
  float: right;
  margin-top: 33px;
  margin-right: 27px;
  position: relative;
  z-index: 1;
  display: none;
}
#index footer ul#footerright li {
  display: inline-block;
  width: 24px;
  margin: 0 15px;
}
#index footer ul#footerright li a i {
  font-size: 24px;
  color: #000000;
}
#index footer .gradation-line {
  height: 89px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* page */
header {
  display: none;
}
#pageheaderline {
  position: relative;
  height: 9px;
  display: none;
  z-index: 10;
}
#pageheaderline .gradation-line {
  height: 9px;
}
#pageheader {
  position: relative;
  height: 165px;
  display: none;
  z-index: 10;
}
#pageheader h1 {
  position: absolute;
  top: 42px;
  left: 56px;
}
#pageheader h1 img {
  width: 240px;
}
#pageheader ul {
  letter-spacing: -.4em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 26px;
}
#pageheader ul li {
  display: inline-block;
  letter-spacing: normal;
  width: 19px;
  margin: 0 17px;
}
#pageheader ul li.newlink:before {
  content: '';
  display: inline-block;
  background-image: url('../images/new_00.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 25px;
  height: 7px;
  padding-bottom: 3px;
  margin-left: -2px;
}
#pageheader ul li a {
  position: relative;
  padding-bottom: 3px;
}
#pageheader ul li.futurelink a {
  pointer-events: none;
}
#pageheader ul li a::after {
  position: absolute;
  bottom: -8px;
  left: -20%;
  content: '';
  width: 140%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
#pageheader ul li a::after {
  background: #FFDE53;
}
#pageheader ul li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
#pageheader ul li a img {
  height: 13px;
}
#pageheader ul li.futurelink a img {
  opacity: 0.3;
}
#pageleftnumber {
  position: absolute;
  top: 50%;
  z-index: 1;
}
#pageleftnumber img {
  display: none;
  position: relative;
  height: 480px;
}
#pageleftnumber img:first-child {
  left: 0;
  width: 52px;
}
#pageleftnumber img:first-child.animation {
  transform: translateY(calc(-50% - 50px));
}
#pageleftnumber img:first-child.active {
  transform: translateY(-50%);
}
#pageleftnumber img:nth-child(2) {
  left: 10px;
  width: 16px;
  transform: translateY(-50%);
  transition: 1s;
  display: inline-block;
  opacity: 0;
}
#pageleftnumber img:nth-child(3) {
  left: 25px;
  width: 370px;
}
#pageleftnumber img:nth-child(3).animation {
  transform: translateY(calc(-50% + 50px));
}
#pageleftnumber img:nth-child(3).active {
  transform: translateY(-50%);
}
#slidemenu {
  position: absolute;
  top: calc(50% - 110px);
  right: -50px;
  width: 50px;
  height: 220px;
  background: linear-gradient(180deg, #FFCE00 10%, #FF7600 70%);
  transition: 1s;
  z-index: 10;
}
#slidemenu ul li {
  margin: 5px auto;
  height: 40px;
  width: 24px;
}
#slidemenu ul li:first-child {
  margin-top: 30px;
}
#slidemenu ul li a {
  color: #000000;
  display: block;
}
#slidemenu ul li a i {
  font-size: 26px;
}
#pagescroll {
  display: none;
  position: absolute;
  top: calc(100vh - 160px);
  right: 40px;
  width: 43px;
  height: 100px;
  z-index: 10;
}
#pagescroll img {
  width: 43px;
}
#pageunderlogo {
  margin-top: 370px;
  margin-bottom: 260px;
  text-align: left;
  height: 268px;
}
#pageunderlogo img {
  width: 593px;
  margin-left: 250px;
  display: none;
}
#pageblue {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,128,.5) 20% 80%,rgba(0,0,0,0));
}
#pageunder {
  position: absolute;
  top: calc(50% - 104px);
  left: 250px;
  width: 276px;
  height: 209px;
  z-index: 999;
}
#pageunder a {
  width: 100%;
  height: 100%;
  display: block;
}
#pageunder a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#pageunder a p img {
  width: 90%;
  margin-left: -10px;
}
#pageunder a p span {
  font-size: 14px;
  letter-spacing: 1.5em;
}
#pageunder a #pageunderbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
  transform: translateY(0);
}
#blacksheer {
  background: -moz-linear-gradient(top, #000000 5%, transparent 50%);
  background: -webkit-linear-gradient(top, #000000 5%, transparent 50%);
  background: linear-gradient(to bottom, #000000 5%, transparent 50%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: 1;
}

/* page00 */
#page00 {
  overflow-y: hidden;
  min-width: 1440px;
}
#page00back {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  display: none;
}
#page00back video {
  width: 100%;
}
#page00innerscroll {
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 0;
}
#page00innerscroll #pageright {
  position: absolute;
  top: calc(100vh - 260px);
  right: 120px;
  width: 250px;
  height: 209px;
  display: none;
}
#page00innerscroll #pageright.animation {
  transform: translateY(calc(30px));
}
#page00innerscroll #pageright.active {
  transform: translateY(0);
}
#page00innerscroll #pageright a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#page00innerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#page00innerscroll #pageright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#page00innerscroll #pageright a p.active {
  transform: translateY(-50%);
}
#page00innerscroll #pageright a p img {
  width: 160px;
}
#page00innerscroll #pageright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#page00innerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/00.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#page00innerscroll-pall {
  padding-top: 100vh;
  color: #FFB100;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}
#page00innerscroll-p01,
#page00innerscroll-p02,
#page00innerscroll-p03,
#page00innerscroll-p04,
#page00innerscroll-p05 {
  opacity: 0;
}
#page00innerscroll-p01 {
  font-size: 68px;
  line-height: 110px;
  margin-bottom: 170px;
}
#page00innerscroll-p02,
#page00innerscroll-p03,
#page00innerscroll-p04,
#page00innerscroll-p05 {
  font-size: 30px;
  line-height: 80px;
  margin-bottom: 70px;
}
#page00 #pageunder a p span {
  letter-spacing: 1em;
}
#page00 #pageunder a #pageunderbg {
  background-image: url('../images/01.svg');
}

/* page01 */
#page01 {
  overflow-y: hidden;
  min-width: 1080px;
}
#page01back {
  position: absolute;
  top: 53%;
  right: -10%;
  transform: translateY(-50%);
  display: none;
}
#page01back video {
  width: 100%;
}
#page01innerscroll {
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  z-index: 5;
}
#page01innerscroll #pageright {
  position: absolute;
  top: calc(100vh - 260px);
  right: 120px;
  width: 250px;
  height: 209px;
  display: none;
}
#page01innerscroll #pageright.animation {
  transform: translateY(calc(30px));
}
#page01innerscroll #pageright.active {
  transform: translateY(0);
}
#page01innerscroll #pageright a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#page01innerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#page01innerscroll #pageright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#page01innerscroll #pageright a p.active {
  transform: translateY(-50%);
}
#page01innerscroll #pageright a p img {
  width: 160px;
}
#page01innerscroll #pageright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#page01innerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/01.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#page01innerscroll-imgtop {
  padding-top: calc(100vh + 50px);
  text-align: left;
  padding-left: 160px;
  overflow: hidden;
  position: relative;
  height: calc(100vh + 480px + 210px + (100vw - 1080px) / (840 / 450));
}
#page01innerscroll-imgtopleft {
  width: calc((100vw - 1080px) / (840 / 190) + 260px);
  position: relative;
}
#page01innerscroll-imgtopleft>img:nth-child(1) {
  opacity: 0;
}
#page01innerscroll-imgtopleft>img:nth-child(2) {
  position: absolute;
  left: 0;
  top: calc((100vw - 1080px) / (840 / 20) + 30px);
  display: inline;
}
#page01innerscroll-imgtopleft>img:nth-child(3) {
  position: absolute;
  left: 0;
  top: calc((100vw - 1080px) / (840 / 74) + 110px);
  opacity: 0;
}
#page01innerscroll-imgtop>img {
  position: absolute;
  top: calc(100vh + 150px + (100vw - 1080px) / (840 / 60));
  right: calc(-270px - (100vw - 1080px) / (840 / 155));
  width: calc((100vw - 1080px) / (840 / 885) + 1200px);
}
#page01innerscroll-label01 {
  width: calc((100vw - 1080px) / (840 / 159) + 216px);
  height: calc((100vw - 1080px) / (840 / 41) + 57px);
  display: block;
  margin-left: calc((100vw - 1080px) / (840 / 93) + 77px);
  font-size: calc((100vw - 1080px) / (840 / 8) + 10px);
  padding-top: calc((100vw - 1080px) / (840 / 13) + 11px);
  line-height: calc((100vw - 1080px) / (840 / 6) + 19px);
  position: relative;
}
#page01innerscroll-label01 span {
  display: inline-block;
}
#page01innerscroll-label01 span:nth-child(3) {
  font-size: calc((100vw - 1080px) / (840 / 9) + 15px);
}
#page01innerscroll-p01all {
  text-align: left;
  padding-left: calc((100vw - 1080px) / (840 / 281) + 333px);
  margin-top: calc(-57px - (100vw - 1080px) / (840 / 43));
  font-size: calc((100vw - 1080px) / (840 / 6) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 10) + 30px);
  position: relative;
  /* overflow: hidden; */
  height: calc((100vw - 1080px) / (840 / 320) + 330px);
}
.page01innerscroll-p01 {
  margin-bottom: calc((100vw - 1080px) / (840 / 50) + 30px);
  display: inline-block;
}
#page01innerscroll-p01-01,
#page01innerscroll-p01-02,
#page01innerscroll-p01-03{
  opacity: 0;
}
#page01innerscroll-p01all img#page01innerscroll-p01line {
  position: absolute;
  right: 0;
  top: calc((100vw - 1080px) / (840 / 70) + 103px);
  width: calc((100vw - 1080px) / (840 / 180) + 380px);
}
#page01innerscroll-center {
  position: relative;
  height: calc((100vw - 1080px) / (840 / 730) + 1800px);
}
#page01innerscroll-center img#page01innerscroll-centercar {
  width: calc((100vw - 1080px) / (840 / 400) + 800px);
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
#page01innerscroll-center p#page01innerscroll-centerp {
  font-size: calc((100vw - 1080px) / (840 / 33) + 49px);
  line-height: calc((100vw - 1080px) / (840 / 33) + 49px);
  color: #FFB100;
  margin-bottom: calc((100vw - 1080px) / (840 / 120) + 291px);
  padding-top: calc((100vw - 1080px) / (840 / 130) + 500px);
  opacity: 0;
}
#page01innerscroll-center img#page01innerscroll-centerline01 {
  position: absolute;
  right: 0;
  /* top: calc((100vw - 1080px) / (840 / 150) + 570px); */
  top: calc((100vw - 1080px) / (840 / 130) + 500px + (100vw - 1080px) / (840 / 33) + 49px + 21px);
  min-width: 380px;
  width: calc((100vw - 1920px) / (640 / 200) + 380px);
}
#page01innerscroll-center .fade_image.fade_trigger1 {
  position: relative;
  text-align: right;
  z-index: 1;
}
#page01innerscroll-center .fade_image_effect {
  width: calc((100vw - 1080px) / (840 / 144) + 214px);
  /* overflow: auto;
  overflow-x: hidden; */
}
#page01innerscroll-center .fade_image_effect:first-child {
  position: absolute;
  top: calc((100vw - 1080px) / (840 / 96) + 143px);
  right: calc((100vw - 1080px) / (840 / 431) + 642px);
  width: calc((100vw - 1080px) / (840 / 138) + 352px);
}
#page01innerscroll-center .fade_image_effect span {
  font-size: 10px;
  display: inline-block;
  padding-right: 2px;
}
#page01innerscroll-center img#page01innerscroll-centerline02 {
  position: absolute;
  left: 0;
  top: calc((100vw - 1080px) / (840 / 420) + 1050px);
  /* min-width: 380px; */
  width: calc((100vw - 1920px) / (640 / 200) + 380px);
}
#page01innerscroll-center #page01innerscroll-label02 {
  width: calc((100vw - 1080px) / (840 / 294) + 398px);
  height: calc((100vw - 1080px) / (840 / 42) + 57px);
  display: block;
  font-size: calc((100vw - 1080px) / (840 / 9) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 42) + 57px);
  position: absolute;
  right: calc((100vw - 1080px) / (840 / 108) + 188px);
  margin-top: calc((100vw - 1080px) / (840 / 50) + 105px);
}
#page01innerscroll-center #page01innerscroll-label02 span {
  display: none;
}
#page01innerscroll-center #page01innerscroll-p02all {
  width: calc((100vw - 1080px) / (840 / 337) + 491px);
  position: absolute;
  margin-top: calc((100vw - 1080px) / (840 / 120) + 196px);
  right: calc((100vw - 1080px) / (840 / 65) + 95px);
  text-align: left;
  font-size: calc((100vw - 1080px) / (840 / 3) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 7) + 30px);
}
#page01innerscroll-center .page01innerscroll-p02 {
  margin-bottom: calc((100vw - 1080px) / (840 / 50) + 30px);
}
#page01innerscroll-imgbottom {
  overflow: hidden;
  position: relative;
  height: calc((100vw - 1080px) / (840 / 600) + 900px);
}
#page01innerscroll-imgbottom img#page01innerscroll-imgbottomcar {
  position: absolute;
  left: calc(-476px - (100vw - 1080px) / (840 / 410));
  width: calc((100vw - 1080px) / (840 / 885) + 1200px);
}
#page01innerscroll-imgbottom img#page01innerscroll-imgbottomline {
  position: absolute;
  right: 0;
  top: calc((100vw - 1080px) / (840 / 190) + 200px);
  width: calc((100vw - 1080px) / (840 / 180) + 380px);
}
#page01innerscroll-imgbottom #page01innerscroll-imgbottomp {
  font-size: calc((100vw - 1080px) / (840 / 33) + 53px);
  line-height: calc((100vw - 1080px) / (840 / 33) + 82px);
  color: #FFB100;
  margin-top: calc((100vw - 1080px) / (840 / 400) + 600px);
}
#page01 #pageunder a {
  pointer-events: none;
}
#page01 #pageunder a #pageunderbg {
  background-image: url('../images/02.svg');
}

/* page02 */
#page02 {
  overflow-y: hidden;
  min-width: 1080px;
}
#page02back {
  position: absolute;
  top: 53%;
  right: -10%;
  transform: translateY(-50%);
  display: none;
}
#page02back video {
  width: 100%;
}
#page02innerscroll {
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  z-index: 5;
}
#page02innerscroll #pageright {
  position: absolute;
  top: calc(100vh - 260px);
  right: 120px;
  width: 250px;
  height: 209px;
  display: none;
}
#page02innerscroll #pageright.animation {
  transform: translateY(calc(30px));
}
#page02innerscroll #pageright.active {
  transform: translateY(0);
}
#page02innerscroll #pageright a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#page02innerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#page02innerscroll #pageright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#page02innerscroll #pageright a p.active {
  transform: translateY(-50%);
}
#page02innerscroll #pageright a p img {
  width: 160px;
}
#page02innerscroll #pageright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#page02innerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/02.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#page02innerscroll-imgtop {
  padding-top: calc(100vh + 50px);
  overflow: hidden;
  position: relative;
  height: calc(100vh + 50px + 600px);
}
#page02innerscroll-imgtop #page02innerscroll-imgtopmain {
  width: 800px;
  filter: grayscale(1);
  transition: 3s;
}
#page02innerscroll-title {
  height: 450px;
}
#page02innerscroll-title p#page02innerscroll-titlep {
  font-size: calc((100vw - 1080px) / (840 / 33) + 49px);
  line-height: calc((100vw - 1080px) / (840 / 33) + 49px);
  color: #FFB100;
  opacity: 0;
  margin: 100px auto;
}
#page02innerscroll-title #page02innerscroll-titleline {
  position: absolute;
  right: 0;
  top: calc(100vh + 600px);
  width: 282px;
}
#page02innerscroll-label01 {
  width: calc((100vw - 1080px) / (840 / 159) + 216px);
  height: calc((100vw - 1080px) / (840 / 41) + 57px);
  display: block;
  margin-left: calc((100vw - 1080px) / (840 / 93) + 77px);
  font-size: calc((100vw - 1080px) / (840 / 8) + 10px);
  padding-top: calc((100vw - 1080px) / (840 / 13) + 11px);
  line-height: calc((100vw - 1080px) / (840 / 6) + 19px);
  position: relative;
}
#page02innerscroll-label01 span {
  display: inline-block;
}
#page02innerscroll-label01 span:nth-child(3) {
  font-size: calc((100vw - 1080px) / (840 / 9) + 15px);
}
#page02innerscroll-p01all {
  text-align: left;
  padding-left: calc((100vw - 1080px) / (840 / 281) + 333px);
  margin-top: calc(-57px - (100vw - 1080px) / (840 / 43));
  font-size: calc((100vw - 1080px) / (840 / 6) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 10) + 30px);
  position: relative;
  /* overflow: hidden; */
  height: calc((100vw - 1080px) / (840 / 320) + 330px);
}
.page02innerscroll-p01 {
  margin-bottom: calc((100vw - 1080px) / (840 / 50) + 30px);
  display: inline-block;
}
#page02innerscroll-p01-01,
#page02innerscroll-p01-02 {
  opacity: 0;
}
#page02innerscroll-center {
  position: relative;
  height: calc((100vw - 1080px) / (840 / 730) + 1020px);
}
#page02innerscroll-center img#page02innerscroll-centerline01 {
  position: absolute;
  top: 150px;
  left: 0;
  min-width: 380px;
  width: calc((100vw - 1920px) / (640 / 200) + 380px);
}
#page02innerscroll-center .fade_image.fade_trigger1 {
  position: relative;
  text-align: right;
  z-index: 1;
  height: 300px;
}
#page02innerscroll-center .fade_image_effect {
  width: calc((100vw - 1080px) / (840 / 144) + 247px);
  /* overflow: auto;
  overflow-x: hidden; */
}
#page02innerscroll-center #page02innerscroll-centerline01 {
  position: absolute;
  right: 0;
  top: 0;
  width: 380px;
}
#page02innerscroll-center #page02innerscroll-centerimg {
  width: 100%;
  position: relative;
  display: none;
}
#page02innerscroll-imgbottom {
  overflow: hidden;
  position: relative;
  height: 1100px;
}
#page02innerscroll-imgbottom img#page02innerscroll-imgbottomline01 {
  position: absolute;
  left: 452px;
  top: -100px;
  width: calc((100vw - 1080px) / (840 / 180) + 380px);
}
#page02innerscroll-imgbottom #page02innerscroll-imgbottomimg {
  width: 317px;
  position: absolute;
  top: 233px;
  left: 135px;
  display: none;
  z-index: 1;
}
#page02innerscroll-imgbottom #page02innerscroll-imgbottomimg img {
  width: 100%;
  display: block;
}
#page02innerscroll-imgbottom #page02innerscroll-label02 {
  right: 368px;
  margin-top: calc((100vw - 1080px) / (840 / 50) + 255px);
  width: calc((100vw - 1080px) / (840 / 159) + 216px);
  height: calc((100vw - 1080px) / (840 / 41) + 57px);
  display: block;
  font-size: calc((100vw - 1080px) / (840 / 8) + 10px);
  padding-top: calc((100vw - 1080px) / (840 / 13) + 11px);
  line-height: calc((100vw - 1080px) / (840 / 6) + 19px);
  position: absolute;
}
#page02innerscroll-imgbottom #page02innerscroll-label02 span {
  display: inline-block;
}
#page02innerscroll-imgbottom #page02innerscroll-label02 span:nth-child(3) {
  font-size: calc((100vw - 1080px) / (840 / 9) + 15px);
}
#page02innerscroll-imgbottom #page02innerscroll-p02all {
  width: calc((100vw - 1080px) / (840 / 337) + 491px);
  position: absolute;
  margin-top: calc((100vw - 1080px) / (840 / 120) + 346px);
  right: calc((100vw - 1080px) / (840 / 65) + 95px);
  text-align: left;
  font-size: calc((100vw - 1080px) / (840 / 3) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 7) + 30px);
}
#page02innerscroll-imgbottom .page02innerscroll-p02 {
  margin-bottom: calc((100vw - 1080px) / (840 / 50) + 30px);
}
#page02innerscroll-imgbottom img#page02innerscroll-imgbottomline02 {
  position: absolute;
  left: 0;
  top: 500px;
  width: calc((100vw - 1080px) / (840 / 180) + 380px);
}
#page02innerscroll-imgbottom #page02innerscroll-imgbottomp {
  font-size: calc((100vw - 1080px) / (840 / 33) + 53px);
  line-height: calc((100vw - 1080px) / (840 / 33) + 82px);
  color: #FFB100;
  margin-top: 800px;
}
#page02 #pageunder a {
  pointer-events: none;
}
#page02 #pageunder a #pageunderbg {
  background-image: url('../images/03.svg');
}

/* page03 */
#page03 {
  overflow-y: hidden;
  min-width: 1080px;
}
#page03back {
  position: absolute;
  top: 53%;
  right: -10%;
  transform: translateY(-50%);
  display: none;
}
#page03back video {
  width: 100%;
}
#page03innerscroll {
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  z-index: 5;
}
#page03innerscroll #pageright {
  position: absolute;
  top: calc(100vh - 260px);
  right: 120px;
  width: 250px;
  height: 209px;
  display: none;
}
#page03innerscroll #pageright.animation {
  transform: translateY(calc(30px));
}
#page03innerscroll #pageright.active {
  transform: translateY(0);
}
#page03innerscroll #pageright a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#page03innerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#page03innerscroll #pageright a p.animation {
  transform: translateY(calc(-50% + 30px));
}
#page03innerscroll #pageright a p.active {
  transform: translateY(-50%);
}
#page03innerscroll #pageright a p img {
  width: 160px;
}
#page03innerscroll #pageright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#page03innerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/03.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#page03innerscroll-imgtop {
  padding-top: calc(100vh + 50px);
  overflow: hidden;
  position: relative;
  height: calc(100vh + 50px + 375px);
}
#page03innerscroll-imgtop #page03innerscroll-imgtopmain {
  width: 746px;
  filter: grayscale(1);
  transition: 3s;
}
#page03innerscroll-title {
  height: 325px;
}
#page03innerscroll-title p#page03innerscroll-titlep {
  font-size: 50px;
  line-height: 70px;
  color: #FFB100;
  opacity: 0;
  margin: 120px auto 180px auto;
}
#page03innerscroll-center {
  position: relative;
  height: calc((100vw - 1080px) / (840 / 730) + 680px);
}
#page03innerscroll-center #page03innerscroll-centerline01 {
  position: absolute;
  top: -200px;
  right: 0;
  min-width: 380px;
  width: calc((100vw - 1920px) / (640 / 200) + 380px);
}
#page03innerscroll-center .fade_image.fade_trigger1 {
  position: relative;
  text-align: center;
  z-index: 1;
  height: 200px;
}
#page03innerscroll-center .fade_image_effect {
  width: 291px;
  /* overflow: auto;
  overflow-x: hidden; */
}
#page03innerscroll-center #page03innerscroll-centerline02 {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 380px;
  width: calc((100vw - 1920px) / (640 / 200) + 380px);
}
#page03innerscroll-p01all {
  text-align: center;
  margin-top: 178px;
  font-size: calc((100vw - 1080px) / (840 / 6) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 10) + 30px);
  position: relative;
  /* overflow: hidden; */
  height: calc((100vw - 1080px) / (840 / 320) + 300px);
}
.page03innerscroll-p01 {
  margin-bottom: calc((100vw - 1080px) / (840 / 50) + 30px);
  display: inline-block;
}
#page03innerscroll-p01-01{
  opacity: 0;
}
#page03innerscroll-imgbottom {
  overflow: hidden;
  position: relative;
  /* height: 1300px; */
}
#page03innerscroll-imgbottom #page03innerscroll-imgbottomimg {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: none;
  z-index: 1;
  background-image: url('../images/delivery_01.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#page03innerscroll-imgbottom #page03innerscroll-imgbottomline01 {
  position: absolute;
  right: 90px;
  top: calc(100vh - 150px);
  width: calc((100vw - 1080px) / (840 / 180) + 380px);
}
#page03innerscroll-imgbottom #page03innerscroll-imgbottomp {
  font-size: 60px;
  line-height: 78px;
  color: #FFB100;
  margin-top: 314px;
}
#page03 #pageunder a {
  pointer-events: none;
}
#page03 #pageunder a #pageunderbg {
  background-image: url('../images/03.svg');
}

/* page04 */
#page04 {
  overflow-y: hidden;
  min-width: 1080px;
}
#page04back {
  position: absolute;
  top: 53%;
  right: -10%;
  transform: translateY(-50%);
  display: none;
}
#page04back video {
  width: 100%;
}
#page04innerscroll {
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  z-index: 5;
}
#page04innerscroll #pageright {
  position: absolute;
  top: calc(100vh - 260px);
  right: 120px;
  width: 250px;
  height: 209px;
  display: none;
}
#page04innerscroll #pageright.animation {
  transform: translateY(calc(30px));
}
#page04innerscroll #pageright.active {
  transform: translateY(0);
}
#page04innerscroll #pageright a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#page04innerscroll #pageright a p {
  font-size: 24px;
  position: relative;
  top: 50%;
  display: none;
}
#page04innerscroll #pageright a p.animation {
  transform: translateY(calc(-100% + 30px));
}
#page04innerscroll #pageright a p.animation:nth-child(2) {
  transform: translateY(calc(-240% + 30px));
}
#page04innerscroll #pageright a p.active {
  transform: translateY(-100%);
}
#page04innerscroll #pageright a p.active:nth-child(2) {
  transform: translateY(calc(-240%));
}
#page04innerscroll #pageright a p img {
  width: 160px;
}
#page04innerscroll #pageright a p span {
  font-size: 14px;
  letter-spacing: 0.3em;
}
#page04innerscroll #pageright a #pagerightbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/04.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#page04innerscroll-imgtop {
  padding-top: calc(100vh + 50px);
  overflow: hidden;
  position: relative;
  height: calc(100vh + 50px + 375px);
}
#page04innerscroll-imgtop #page04innerscroll-imgtopmain {
  width: 746px;
  filter: grayscale(1);
  transition: 3s;
}
#page04innerscroll-title {
  height: 1100px;
}
#page04innerscroll-title p#page04innerscroll-titlep {
  font-size: 60px;
  line-height: 90px;
  color: #FFB100;
  opacity: 0;
  margin: 116px auto 152px auto;
}
#page04innerscroll-title #page04innerscroll-titleline01 {
  position: absolute;
  right: 0;
  top: calc(100vh + 700px);
  width: 282px;
}
#page04innerscroll-title #page04innerscroll-titleback {
  width: 100vw;
  height: 240px;
  background-image: url('../images/delivery_04.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1.5s;
  position: relative;
}
#page04innerscroll-title #page04innerscroll-titleback p {
  font-size: 45px;
  line-height: 240px;
  color: #FFB100;
}
#page04innerscroll-title #page04innerscroll-titleline02 {
  position: absolute;
  left: 0;
  top: calc(100vh + 1180px);
  width: 282px;
}
#page04innerscroll-label01 {
  width: 186px;
  height: 69px;
  display: block;
  margin-top: 145px;
  margin-left: 165px;
  font-size: calc((100vw - 1080px) / (840 / 8) + 10px);
  padding-top: calc((100vw - 1080px) / (840 / 13) + 11px);
  line-height: calc((100vw - 1080px) / (840 / 6) + 19px);
  position: relative;
}
#page04innerscroll-label01 span {
  display: inline-block;
}
#page04innerscroll-label01 span:nth-child(3) {
  font-size: calc((100vw - 1080px) / (840 / 9) + 15px);
}
#page04innerscroll-p01all {
  text-align: left;
  padding-left: 448px;
  margin-top: -78px;
  font-size: calc((100vw - 1080px) / (840 / 6) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 10) + 30px);
  position: relative;
  /* overflow: hidden; */
  height: calc((100vw - 1080px) / (840 / 320) + 85px);
}
.page04innerscroll-p01 {
  display: inline-block;
}
#page04innerscroll-p01-01 {
  opacity: 0;
}
#page04innerscroll-center {
  position: relative;
  height: 546px;
  width: 100vw;
}
#page04innerscroll-center #page04innerscroll-fade {
  width: 100%;
  letter-spacing: -.4em;
}
#page04innerscroll-center #page04innerscroll-fade .fade_image_effect {
  width: 20%;
  display: inline-block;
  letter-spacing: normal;
}
#page04innerscroll-center #page04innerscroll-fade:hover .fade_image_effect:not(:hover) img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  /* transition: .3s ease; */
} 

#page04innerscroll-imgbottom {
  overflow: hidden;
  position: relative;
  height: 1100px;
}
#page04innerscroll-imgbottom #page04innerscroll-label02 {
  left: 147px;
  width: 318px;
  height: 69px;
  margin-top: 235px;
  display: block;
  font-size: calc((100vw - 1080px) / (840 / 8) + 10px);
  padding-top: calc((100vw - 1080px) / (840 / 13) + 11px);
  line-height: calc((100vw - 1080px) / (840 / 6) + 19px);
  position: absolute;
}
#page04innerscroll-imgbottom #page04innerscroll-label02 span {
  display: inline-block;
}
#page04innerscroll-imgbottom #page04innerscroll-label02 span:nth-child(3) {
  font-size: calc((100vw - 1080px) / (840 / 9) + 15px);
}
#page04innerscroll-imgbottom #page04innerscroll-p02all {
  width: 400px;
  position: absolute;
  margin-top: 400px;
  left: 147px;
  text-align: left;
  font-size: calc((100vw - 1080px) / (840 / 3) + 14px);
  line-height: calc((100vw - 1080px) / (840 / 7) + 30px);
}